body {
  margin: 0;
}

.custom-container {
  margin-top: 20px;
  padding-top: 0;
  margin-bottom: 20px;
}

.margin {
  margin-left: 10px;
  margin-top: 5px;
}

.pagination-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: flex-end;
}
